USE [master]
GO
/****** Object:  Database [PractiseDb]    Script Date: 7/16/2024 10:50:46 PM ******/
CREATE DATABASE [PractiseDb] ON  PRIMARY 
( NAME = N'PractiseDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PractiseDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PractiseDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PractiseDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PractiseDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PractiseDb]
GO
/****** Object:  Table [dbo].[Tbl_Customer]    Script Date: 7/16/2024 10:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Customer](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](50) NOT NULL,
	[PhoneNo] [nvarchar](20) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[CustomerCode] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Tbl_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
